@import '~sass/setup/variables';
@import '~sass/setup/mixins';

@import '~sass/setup/reset';

@import '~sass/setup/base';
@import '~sass/setup/fonts';
@import '~sass/setup/grid';
@import '~sass/setup/icons';
@import '~sass/setup/inputs';
@import '~sass/setup/spacing';
@import '~sass/setup/typography';


.app {
	height: 100%;

	.app-root {
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		> .app-wrap {
			width: 100%;
		  height: 100%;
		  display: flex;
		  flex-direction: column;
		}
	}
}

.main-content-region {
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	flex-grow: 1;
	position: relative;
}

.empty-state {
	p {
		a {
			position: relative;
			&:hover {
				.tooltip {
					transform: translate3d(0, 0, 0);
					visibility: visible;
					opacity: 1;
				}
			}
			.tooltip {
				background: darken($text-color, 6%);
				position: absolute;
				border-radius: $base-border-radius;
				padding: .75em;
				color: $white;
				text-align: center;
				font-size: $p-font-size;
				line-height: $short-line-height;
				width: 12em;
				bottom: calc(100% + calc(#{$nipple-size} + #{$tooltip-offset}));
				left: 50%;
				margin-left: -6em;
				transform: translate3d(0, .5rem, 0);
				visibility: hidden;
				opacity: 0;
				transition: opacity $md-speed $ease, visibility $md-speed $ease, transform $md-speed $ease;
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					border: $nipple-size solid transparent;
					border-top-color: $text-color;
					border-bottom: none;
					left: calc(50% - (calc(#{$nipple-size}/2));
					bottom: calc(100% + calc(#{$nipple-size} + #{$tooltip-offset}));
					margin-top: 0;
				}
			}
		}
	}
}