@import '../../../sass/setup/variables';

.empty-area {
	background: $input-bg;
	border-radius: $input-border-radius;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: background $md-speed $ease, border $md-speed $ease, color $md-speed $ease;
	.label {
		color: $light-text-color;
		transition: color $md-speed $ease;
		.icon {
			display: inline-block;
			vertical-align: middle;
			width: $btn-height;
			height: $btn-height;
			border-radius: 50%;
			line-height: $btn-height;
			text-align: center;
			color: $main-color;
			background: $bg-color;
			transition: color $md-speed $ease;
			margin-right: .75rem;
			svg {
				display: inline-block;
		    vertical-align: top;
		    height: 40px !important;
			}
		}
		.text {
			font-size: 1.125rem;
			display: inline-block;
			vertical-align: middle;
		}
	}
	&:hover {
		background: $input-hover-bg;
		.label {
			color: $text-color;
			.icon {
				color: darken($main-color, 15%);
			}
		}
	}
	&:active {
		background: $input-focus-bg;
	}
}