$stagger-time : .075s;

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes transition-in {
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		visibility: visible;
	}
}

.stagger-in-1 { animation: transition-in .65s $stagger-time * 0 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-2 { animation: transition-in .65s $stagger-time * 1 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-3 { animation: transition-in .65s $stagger-time * 2 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-4 { animation: transition-in .65s $stagger-time * 3 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-5 { animation: transition-in .65s $stagger-time * 4 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-6 { animation: transition-in .65s $stagger-time * 5 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-7 { animation: transition-in .65s $stagger-time * 6 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-8 { animation: transition-in .65s $stagger-time * 7 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-9 { animation: transition-in .65s $stagger-time * 8 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }
.stagger-in-10 { animation: transition-in .65s $stagger-time * 9 $ease forwards; opacity: 0; transform: translate3d(0, 1.5rem, 0); }