@font-face {
  font-family: 'Brandon Grotesk';
  src:  url('assets/fonts/brandon-grotesk/brandon-grotesk-regular.woff') format('woff'),
  			url('assets/fonts/brandon-grotesk/brandon-grotesk-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesk';
  src:  url('assets/fonts/brandon-grotesk/brandon-grotesk-medium.woff') format('woff'),
  			url('assets/fonts/brandon-grotesk/brandon-grotesk-medium.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesk';
  src:  url('assets/fonts/brandon-grotesk/brandon-grotesk-bold.woff') format('woff'),
        url('assets/fonts/brandon-grotesk/brandon-grotesk-bold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
