// Media Queries
@mixin respond($breakpoint) {
  @media only screen and (min-width: $breakpoint + px) { @content; }
}

@mixin respond-smaller-than($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) { @content; }
}

// Transform
@mixin transform($transform){
  -ms-transform: $transform; /* IE 9 */
  -webkit-transform: $transform; /* Chrome, Safari, Opera */
  transform: $transform;
}

// Transition 
@mixin transition($transition: all .2s ease-in-out) {
  -webkit-transition: $transition;
  -moz-transition:    $transition;
  -o-transition:      $transition;
}

// Animation
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

@mixin opacity($opactiy: .5) {
  -moz-opacity: $opactiy;
  -khtml-opacity: $opactiy;
  opacity: $opactiy;
}

@mixin border-radius($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

// Greyscale/ Color
@mixin greyscale() {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

@mixin fullcolor() {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: none; /* IE 6-9 */;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

// Vertical Centering
@mixin vertical-center($axis: "both"){
  position:absolute;
  @if $axis == "y"{
    top:50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  @if $axis == "x"{
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  @if $axis == "both"{
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@mixin font-smooth() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin clearfix() {
  *zoom:1;
  &:before, 
  &:after {
    content: ""; 
    display: table; 
  }
  &:after {
    clear: both; 
  }
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin all-caps () {
  text-transform: uppercase;
  letter-spacing: $tracked-out;
  font-size: $sm-text-size;
  font-weight: 700;
}

// Placeholders
@mixin placeholder {
  &::-webkit-input-placeholder {
      @content;
  }
  &:-moz-placeholder { /* Firefox 18- */
      @content;
  }
  &::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }
  &:-ms-input-placeholder {
      @content;
  }
}
@mixin placeholder-focus {
  &:focus::-webkit-input-placeholder {
      @content;
  }
  &:focus:-moz-placeholder { /* Firefox 18- */
      @content;
  }
  &:focus::-moz-placeholder {  /* Firefox 19+ */
      @content;
  }
  &:focus:-ms-input-placeholder {
      @content;
  }
}