$margin: 7.5%;
$mobile-margin: $margin;
$max-site-width: 1200px;
$site-width : 85%;

// Grid Settings
$columns: 12;
$gutter: 20px; // can be % or px
$wide-gutter: $gutter;
$tight-gutter: 1rem;

// Colors
$bg-color : #ffffff;
$main-color: #3394FF;
$black : #000;
$white : #fff;
$alert : #DF693D;
$notify : #FFD780;
$success : #50B87F;
$text-color : #333;
$light-grey : lighten($text-color, 75%);
$light-text-color : rgba($text-color, .4);
$hr-color : lighten($text-color, 75%);
$hr-styles : 1px solid $hr-color;

// Links
$link-color : $light-text-color;
$link-hover-color : $main-color;
$dropdown-color : $light-text-color;
$nav-color : $text-color;
$nav-hover-color : $main-color;

// Typography
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$secondary-font: $main-font;
$base-line-height : 1.5em;
	$short-line-height : 1.333em;
		$tight-line-height : 1.15em;
	$tracked-out : .15em;
	// General Text Sizes
	$tiny-font-size : 10px;
	$sm-font-size : 12px;
	$base-font-size : 1rem;
	$md-font-size : 1.5rem;
	$lg-font-size : 2rem;
	// Font Weights
	$normal : normal;
	$thin : 100;
	$light : 300;
	$medium : 700;
	$bold : $medium;
	// h1
		$h1-font-size : $lg-font-size * 1.5;
		$h1-font-weight : $normal;
		$h1-line-height : $tight-line-height;
		$h1-letter-spacing : inherit;
		$h1-letter-spacing : inherit;
	// h2
		$h2-font-size : $lg-font-size * 1.25;
		$h2-font-weight : $normal;
		$h2-line-height : $tight-line-height;
		$h2-letter-spacing : inherit;
		$h2-letter-spacing : inherit;
	// h3
		$h3-font-size : $lg-font-size;
		$h3-font-weight : $normal;
		$h3-line-height : $short-line-height;
		$h3-letter-spacing : inherit;
		$h3-letter-spacing : inherit;
	// h4
		$h4-font-size : $md-font-size;
		$h4-font-weight : $normal;
		$h4-line-height : $short-line-height;
		$h4-letter-spacing : inherit;
		$h4-letter-spacing : inherit;
	// h5
		$h5-font-size : $base-font-size;
		$h5-font-weight : $normal;
		$h5-line-height : $base-line-height;
		$h5-letter-spacing : inherit;
		$h5-letter-spacing : inherit;
	// h6 is tracked out all caps by default
	// p
		$p-font-size : $base-font-size;
		$p-font-weight : $normal;
		$p-line-height : $base-line-height;
		$p-letter-spacing : inherit;
		$p-letter-spacing : inherit; 

// Text Highlights
$highlight-bg : $light-text-color;
$highlight-color : $bg-color;

// General UI Varibales
$base-border-radius : 6px;
$footer-height : 50px;
$header-height : 80px;
$sidebar-width : 250px;

// Text Inputs
$input-font: $main-font;
$input-bg : $light-grey;
$input-color : $text-color;
$input-border : none;
$input-border-radius : $base-border-radius;
$input-hover-bg : darken($input-bg, 3%);
$input-hover-color : $text-color;
$input-hover-border : none;
$input-focus-bg : darken($input-bg, 3%);
$input-focus-color : $text-color;
$input-focus-border : none;
$placeholder-color : rgba($text-color, .4);
$placeholder-focus-color : transparent;
$input-padding: 0px 14px 0px;
$input-line-height: 26px; // $btn-medium-height
$input-large-height: 60px;
$input-large-font-size: 1.25rem;
$input-small-height: 30px;
$input-small-font-size: .875rem;
$input-tiny-height: 24px;
$input-tiny-font-size: $input-small-font-size;

// Select Fields
$select-border : $input-border;
$select-bg : transparent;
$select-color : $light-text-color;

// Button Variables
$btn-radius: $base-border-radius;
$btn-padding: 0 1rem 1px;
$btn-text-transform: none;
$btn-letter-spacing: .02em;
$btn-weight: $normal;

// Button Sizes
$btn-height: 40px;
	$btn-small-height: 30px;
		$btn-tiny-height: 24px;
			$btn-large-height: 60px;
$btn-font-size: $sm-font-size;
	$btn-small-font-size: $sm-font-size;
		$btn-tiny-font-size: $sm-font-size;
			$btn-large-font-size: $btn-font-size;

	// Default
	$btn-font: $main-font;
	$btn-bg: $main-color;
	$btn-border: none;
	$btn-color: $bg-color;
		$btn-hover-bg: darken($main-color, 7%);
		$btn-hover-border: none;
		$btn-hover-color: $bg-color;
	
	// Secondary
	$btn-secondary-bg: lighten($text-color, 10%);
	$btn-secondary-border: none;
	$btn-secondary-color: $bg-color;
		$btn-secondary-hover-bg: $text-color;
		$btn-secondary-hover-border: none;
		$btn-secondary-hover-color: $bg-color;

	// Tertiary
	$btn-tertiary-bg: lighten($text-color, 60%);
	$btn-tertiary-border: none;
	$btn-tertiary-color: lighten($text-color, 10%);
		$btn-tertiary-hover-bg: lighten($text-color, 65%);
		$btn-tertiary-hover-border: none;
		$btn-tertiary-hover-color: $text-color;

	// Alert
	$btn-alert-color: $bg-color;
	// Notify
	$btn-notify-color: $text-color;
	// success
	$btn-success-color: $bg-color;

// Tables
$vertical-cell-padding: .75rem;
$horizontal-cell-padding: .75rem;

// Tooltips
$nipple-size: 4px;
$tooltip-offset: 6px;
$tooltip-text-transform: none;
$tooltip-letter-spacing: .02em;
$tooltip-font-size: .75rem;
$tooltip-font-weight: normal;
$tooltip-padding: 5px 8px;
$tooltip-height: 26px;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

// Transitions
$fast-speed : .1s;
$slow-speed : .5s;
$md-speed : .2s;
$ease : ease-in-out;
