@custom-selector :--buttons button, .button, input[type=submit].button;

:--buttons {
	appearance: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
	outline: none;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: var(--btn-bg);
	border: var(--btn-border);
	height: var(--btn-height);
	padding: var(--btn-padding);
	cursor: pointer;
	line-height: calc(var(--btn-height) - 5px);
	text-transform: var(--btn-text-transform);
	letter-spacing: var(--btn-letter-spacing);
	border-radius: var(--btn-radius);
	color: var(--btn-color);
	font-size: var(--btn-font-size);
	font-family: var(--btn-font);
	min-width: 8rem;
	text-align: center;
	transition: background var(--md-speed) var(--ease),
							color var(--md-speed) var(--ease), 
							border var(--md-speed) var(--ease), 
							opacity var(--md-speed) var(--ease);
	overflow: hidden;
	&:not(.disabled):not(.loading):hover {
		border: var(--btn-hover-border);
		background: var(--btn-hover-bg);
		color: var(--btn-hover-color);
	}
	&:focus {
		outline: none;
	}
		
	& .button-content {
		transition: transform var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease);
		white-space: nowrap;
		display: inline;
		& .label {
			display: inline-block;
			line-height: 1rem;
			& + .icon {
				margin-left: 8px;
			}
		}
		& .icon {
			display: inline-block;
			vertical-align: middle;
			line-height: 1rem;
			transition: transform var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease);
			margin-top: -2px;
			& svg {
				display: block;
				width: 100%;
				height: 100%;
				& * {
					fill: currentcolor;
				}
			}
			& + .label {
				margin-left: 8px;
			}
		}
	}

	& .state-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 16px;
		height: 16px;
		margin: -8px;
		transform: translate3d(0, -10px, 0);
		opacity: 0;
		visibility: hidden;
		transition: transform var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease);
	}

	/* Button Sizes */
	&.small {
		height: var(--btn-small-height);
		padding: var(--btn-padding);
		line-height: calc(var(--btn-small-height) - 5px);
		font-size: var(--btn-small-font-size);
		&.circle {
			min-width: var(--btn-small-height);
			max-width: var(--btn-small-height);
			font-size: 10px;
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.large {
		height: var(--btn-large-height);
		padding: var(--btn-padding);
		line-height: calc(var(--btn-large-height) - 5px);
		font-size: var(--btn-large-font-size);
		min-width: 10rem;
		&.circle {
			min-width: var(--btn-large-height);
			max-width: var(--btn-large-height);
			font-size: var(--btn-large-font-size);
			padding-left: 0;
			padding-right: 0;
		}
	}

	/* Button Types */
	&.circle {
		min-width: var(--btn-height);
		max-width: var(--btn-height);
		padding-left: 0;
		padding-right: 0;
		border-radius: 50%;
		font-size: 12px;
		& .label {
			display: none;
		}
		& .icon {
			margin: 0 !important;
		}
	}

	&.secondary {
		background: var(--btn-secondary-bg);
		border: var(--btn-secondary-border);
		color: var(--btn-secondary-color);
	}

	&.secondary:not(.disabled):not(.loading):hover {
		background: var(--btn-secondary-hover-bg);
		border: var(--btn-secondary-hover-border);
		color: var(--btn-secondary-hover-color);
	}

	&.tertiary {
		background: var(--btn-tertiary-bg);
		border: var(--btn-tertiary-border);
		color: var(--btn-tertiary-color);
	}

	&.tertiary:not(.disabled):not(.loading):hover {
		background: var(--btn-tertiary-hover-bg);
		border: var(--btn-tertiary-hover-border);
		color: var(--btn-tertiary-hover-color);
	}

	&.transparent {
		background: transparent;
		border-color: transparent;
		color: var(--text-color);
		opacity: .5;
	}

	&.transparent:not(.disabled):not(.loading):hover {
		background: transparent;
		border-color: transparent;
		opacity: 1;
		color: var(--text-color);
	}

	&.secondary {
		background: var(--btn-secondary-bg);
		border: var(--btn-secondary-border);
		color: var(--btn-secondary-color);
	}

	&.secondary:not(.disabled):not(.loading):hover {
		background: var(--btn-secondary-hover-bg);
		border: var(--btn-secondary-hover-border);
		color: var(--btn-secondary-hover-color);
	}

	&.tertiary {
		background: var(--btn-tertiary-bg);
		border: var(--btn-tertiary-border);
		color: var(--btn-tertiary-color);
	}

	&.tertiary:not(.disabled):not(.loading):hover {
		background: var(--btn-tertiary-hover-bg);
		border: var(--btn-tertiary-hover-border);
		color: var(--btn-tertiary-hover-color);
	}

	&.transparent {
		background: transparent;
		border-color: transparent;
		color: var(--text-color);
		opacity: .5;
	}

	&.transparent:not(.disabled):not(.loading):hover {
		background: transparent;
		border-color: transparent;
		opacity: 1;
		color: var(--text-color);
	}

	/* Hide button text during button state */
	&.loading,
	&.success,
	&.error {
		& .button-content {
			transform: translate3d(0, 10px, 0);
			opacity: 0;
			visibility: hidden;
		}
		& .state-icon {
			transform: translate3d(0, 10px, 0);
			opacity: 0;
			visibility: hidden;
		}
	}

	/* Button Loading */
	&.loading {
		& .state-icon.loader {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			visibility: visible;
		}
	}

	/* Button Success */
	&.success {
		background: var(--btn-hover-bg);
		border: var(--btn-hover-border);
		& .state-icon {
			&.success {
				transform: translate3d(0, 0, 0);
				opacity: 1;
				visibility: visible;
			}
			&.loader {
				transform: translate3d(0, -10px, 0);
			}
		}
	}

	/* Button Error */
	&.error {
		background: var(--btn-hover-bg);
		border: var(--btn-hover-border);
		& .state-icon.error {
			transform: translate3d(0, 0, 0);
			opacity: 1;
			visibility: visible;
		}
		& .state-icon.loader {
			transform: translate3d(0, -10px, 0);
		}
	}

	/* Disabled Buttons */
	&.disabled,
	&[disabled="disabled"] {
		opacity: .5;
		cursor: default;
		background: #ccc;
		border-color: #ccc;
		color: var(--light-text-color);
	}

}

	