:root {
	--col: calc(100% / 12);
}

@media screen and (min-width: 600px) {
	.float-grid,
	.inline-grid,
	.flex-grid {
		display: block;
		margin-left: calc(var(--gutter) * -.5);
		margin-right: calc(var(--gutter) * -.5);
	}

	/* Float Grid Rules */
	.float-grid {
		/* Figure out how to use @apply --clearfix; */
		*zoom:1;
	  &:before, 
	  &:after {
	    content: ""; 
	    display: table; 
	  }
	  &:after {
	    clear: both; 
	  }
	}

	.float-grid *[class^="col-"]:not(.right) {
		float: left;
	}

	.float-grid *[class^="col-"].right {
		float: right;
	}

	/* Inline Grid Rules */
	.inline-grid *[class^="col-"] {
		display: inline-block;
		vertical-align: top;
	}

	.inline-grid.middle *[class^="col-"] {
		vertical-align: middle;
	}

	.inline-grid.bottom *[class^="col-"] {
		vertical-align: bottom;
	}

	.inline-grid.center {
		text-align: center;
	}

	.inline-grid.right {
		text-align: right;
	}

	/* Flex Grid Rules */
	.flex-grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		&.center {
			justify-content: center;
		}
		&.left {
			justify-content: flex-start;
		}
		&.right {
			justify-content: flex-end;
		}
		&.middle {
			align-items: center;
		}
		&.bottom {
			align-items: flex-end;
		}
		&.baseline {
			align-items: baseline;
		}
	}

	/* Column Rules */
	*[class^="col"] {
		flex-grow: 0;
		padding-left: calc(var(--gutter)/2);
		padding-right: calc(var(--gutter)/2);
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.col-12 {
		width: calc(var(--col) * 12);
	}

	.col-11 {
		width: calc(var(--col) * 11);
	}

	.col-10 {
		width: calc(var(--col) * 10);
	}

	.col-9 {
		width: calc(var(--col) * 9);
	}

	.col-8 {
		width: calc(var(--col) * 8);
	}

	.col-7 {
		width: calc(var(--col) * 7);
	}

	.col-6 {
		width: calc(var(--col) * 6);
	}

	.col-5 {
		width: calc(var(--col) * 5);
	}

	.col-4 {
		width: calc(var(--col) * 4);
	}

	.col-3 {
		width: calc(var(--col) * 3);
	}

	.col-2 {
		width: calc(var(--col) * 2);
	}

	.col-1 {
		width: var(--col);
	}

}

/*	Use .push classes to move columsn over
		Gernerally better to do this manually and breakpoints
*/
.push-right-1 {
	margin-right: var(--col);
}

.push-right-2 {
	margin-right: calc(var(--col) * 2);
}

.push-right-3 {
	margin-right: calc(var(--col) * 3);
}

.push-right-4 {
	margin-right: calc(var(--col) * 4);
}

.push-right-5 {
	margin-right: calc(var(--col) * 5);
}

.push-right-6 {
	margin-right: calc(var(--col) * 6);
}

.push-right-7 {
	margin-right: calc(var(--col) * 7);
}

.push-right-8 {
	margin-right: calc(var(--col) * 8);
}

.push-right-9 {
	margin-right: calc(var(--col) * 9);
}

.push-right-10 {
	margin-right: calc(var(--col) * 10);
}

.push-right-11 {
	margin-right: calc(var(--col) * 11);
}

.push-right-12 {
	margin-right: calc(var(--col) * 12);
}

.push-left-1 {
	margin-left: var(--col);
}

.push-left-2 {
	margin-left: calc(var(--col) * 2);
}

.push-left-3 {
	margin-left: calc(var(--col) * 3);
}

.push-left-4 {
	margin-left: calc(var(--col) * 4);
}

.push-left-5 {
	margin-left: calc(var(--col) * 5);
}

.push-left-6 {
	margin-left: calc(var(--col) * 6);
}

.push-left-7 {
	margin-left: calc(var(--col) * 7);
}

.push-left-8 {
	margin-left: calc(var(--col) * 8);
}

.push-left-9 {
	margin-left: calc(var(--col) * 9);
}

.push-left-10 {
	margin-left: calc(var(--col) * 10);
}

.push-left-11 {
	margin-left: calc(var(--col) * 11);
}

.push-left-12 {
	margin-left: calc(var(--col) * 12);
}