@media screen and (min-width: 600px) {

	.grid {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: calc(var(--gutter) * -.5);
		margin-right: calc(var(--gutter) * -.5);
	}

	.grid.center {
		justify-content: center;
	}

	.grid.right {
		justify-content: flex-end;
	}

	.grid.middle {
		align-items: center;
	}

	.grid.bottom {
		align-items: flex-end;
	}

	.grid.baseline {
		align-items: baseline;
	}

	.grid *[class^="col"] {
		flex-grow: 0;
		padding-left: calc(var(--gutter)/2);
		padding-right: calc(var(--gutter)/2);
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.grid .col-12 {
		width: 100%;
	}

	.grid .col-11 {
		width: 91.666%;
	}

	.grid .col-10 {
		width: 83.333%;
	}

	.grid .col-9 {
		width: 75%;
	}

	.grid .col-8 {
		width: 66.666%;
	}

	.grid .col-7 {
		width: 58.333%;
	}

	.grid .col-6 {
		width: 50%;
	}

	.grid .col-5 {
		width: 41.666%;
	}

	.grid .col-4 {
		width: 33.333%;
	}

	.grid .col-3 {
		width: 25%;
	}

	.grid .col-2 {
		width: 16.666%;
	}

	.grid .col-1 {
		width: 8.333%;
	}

}