section {
	padding: var(--margin) 0;
}

h5 {
	margin-top: 2rem;
}

.gw-nav {
	position: fixed;
	top: 0;
	left: 0;
	& nav {
		position: absolute;
		padding: 0 30px;
		opacity: 0;
		visibility: hidden;
		transform: translate3d(-100%, 0, 0);
		transition: opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease), transform var(--md-speed) var(--ease);
		& a {
			display: block;
			border-radius: 3px;
			padding: .5rem 1.5rem .5rem .75rem;
			transition: background var(--md-speed) var(--ease), color var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
			opacity: .4;
			cursor: pointer;
			margin: 0 -.75rem;
			&:hover {
				background: #eee;
				opacity: 1;
			}
		}
		& ul ul {
			padding-left: .75rem;
			margin-bottom: .75rem;
			& a {
				margin: 0;
				padding: 0;
				&:hover {
					background: transparent;
				}
			}
		}
	}
	&:hover nav {
		opacity: 1;
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}
	& .icon {
		padding: 30px 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: .4;
		transition: opacity var(--md-speed) var(--ease);
		&:hover {
			opacity: 1;
		}
	}
}

.input-wrap {
	margin-bottom: 1rem;
}

.section-info {
	display: block;
	border-top: 1px solid var(--text-color);
	padding: 1.25rem 0 3rem;
}

.sub-section-info {
	display: block;
	border-top: 1px solid #eee;
	padding: 1.25rem 0 3rem;
	margin-top: 2rem;
}

.section-info h3,
.sub-section-info h3 {
	font-size: 1.5em;
	font-weight: 600;
}

.section-info h4,
.sub-section-info h4 {
	border: none;
	padding: 0;
	margin-top: 0;
}

.section-info code,
.sub-section-info code {
	background: #eee;
	padding: .075em .4em .25em;
	border-radius: 3px;
}

section h4 {
	font-weight: 600;
	border-top: 1px solid #eee;
	margin: 3rem 0 1rem;
	padding: 1.25rem 0 0;
	color: var(--light-text-color);
}

.gw-example {
	margin-bottom: calc(var(--gutter) * 2);
}

 *[class^="col"] .placeholder {
	background: #eee;
	height: 40px;
	margin-bottom: var(--gutter);
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--light-text-color);
	border-radius: 3px;
	font-weight: 600;
	font-size: .875em;
	&.very-tall {
		height: 400px;
	}
	&.tall {
		height: 200px;
	}
	&.medium {
		height: 100px;
	}
}

 *[class^="col"] .ui-box {
	background: #f2f2f2;
	margin-bottom: var(--gutter);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	padding: 50px;
	min-height: 150px;
}

 *[class^="col"] .ui-box + code {
	display: block;
	margin-top: calc(var(--gutter) * -1);
	padding-top: 4px;
	margin-bottom: var(--gutter);
	font-size: 12px;
}


/* Special Product Block Case */
.product-block {
	& .desc {
		margin-bottom: 1rem;
	}
	& .options {
		margin-bottom: 1rem;
	}
}

@media screen and (min-width: 600px) {

}