/* CSS Only Icons for Buttons  */
.icon {
	display: inline-block;
	vertical-align: middle;
}

svg {
	display: block;
	& * {
		fill: currentcolor;
	}
}

.css-icon-check {
	width: 7px;
	height: 14px;
	margin: -1px auto 0;
	transform: rotate(45deg) translate3d(0, 0, 0);
	border-right: 2px solid currentcolor;
	border-bottom: 2px solid currentcolor;
}

.css-icon-arrow {
	width: 8px;
	height: 8px;
	border-bottom: 2px solid currentcolor;
	border-right: 2px solid currentcolor;
	transform: rotate(45deg);
	margin: 0 auto;
	transform: rotate(45deg) translate3d(-15%, -15%, 0);
	transition: border $md-speed $ease, transform $md-speed $ease;
	&.up {
		transform: rotate(-135deg) translate3d(-15%, -15%, 0);
	}
	&.right {
		transform: rotate(-45deg) translate3d(-15%, -15%, 0);
	}
	&.left {
		transform: rotate(-225deg) translate3d(-15%, -15%, 0);
	}
}

.css-icon-x {
	width: 2px;
	height: 16px;
	margin: 0 auto;
	background: currentcolor;
	position: relative;
	transform: rotate(45deg);
	&:after {
		content: '';
		display: block;
		width: 16px;
		height: 2px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -1px -8px;
		background: currentcolor;
	}
}

.css-icon-menu {
	height: 2px;
	min-width: 20px;
	width: 100%;
	background: currentcolor;
	position: relative;
	margin: 6px 0;
	&:before,
	&:after {
		content: '';
		display: block;
		height: 2px;
		min-width: 16px;
		width: 100%;
		background: currentcolor;
		position: absolute;
		left: 0;
		right: 0;
	}
	&:before {
		bottom: 300%;
	}
	&:after {
		top: 300%;
	}
}