/* custom selectors */
@custom-selector :--inputs input[type='text'], select, textarea;

:--inputs {
	-webkit-appearance: none;
	height: var(--btn-height);
	background: var(--input-bg);
	border: var(--input-border);
	border-radius: var(--input-border-radius);
	padding: var(--input-padding);
	line-height: var(--input-line-height);
	color: var(--input-color);
	transition: background var(--md-speed) var(--ease), border var(--md-speed) var(--ease), color var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
	display: block;
	width: 100%;
	font-family: var(--input-font);
	font-size: 1em;
	outline: none;
}

.large :--inputs {
	height: var(--btn-large-height);
	font-size: 1.25rem;
}

.small :--inputs {
	height: var(--btn-small-height);
	font-size: var(--small-type);
}

:--inputs::placeholder {
	color: var(--placeholder-color);
	transition: color var(--md-speed) var(--ease);
}

:--inputs:hover {
	background: var(--input-hover-bg);
	color: var(--input-hover-color);
	border: var(--input-hover-border);
}

:--inputs:focus {
	background: var(--input-focus-bg);
	color: var(--input-focus-color);
	border: var(--input-focus-border);
}

:--inputs:focus::placeholder {
	color: var(--placeholder-focus-color);
}

:--inputs:disabled {
	color: var(--placeholder-color);
	background: var(--input-bg);
}

:--inputs:-webkit-autofill,
:--inputs:-webkit-autofill:hover, 
:--inputs:-webkit-autofill:focus
:--inputs:-webkit-autofill {
  border: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
  transition: background-color 50000s ease-in-out 0s;
}

textarea {
	line-height: var(--base-line-height);
	padding-top: .4em;
	padding-bottom: .5em;
	resize: none;
	height: var(--btn-height);
}

label {
	cursor: pointer;
	transition: transform var(--md-speed) var(--ease), background var(--md-speed) var(--ease), border var(--md-speed) var(--ease), color var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
}

input[type='checkbox'],
input[type='radio'] {
	display: none;
	&:checked {
		border-color: var(--main-color);
		& + label {
			color: var(--text-color);
		}
	}
	& + label {
		display: inline-block;
		vertical-align: top;
		& span {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			margin: -5px 10px -2px 0;
			border-radius: 3px;
			border: 1px solid var(--mid-grey);
			background: var(--mid-grey);
			transition: background var(--md-speed) var(--ease), border var(--md-speed) var(--ease), color var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
		}
	}
}

input[type='checkbox'] {
	border-radius: 4px;
	&:checked {
		& + label {
			& span {
				background: var(--main-color);
				border-color: var(--main-color);
				color: var(--bg-color);
			}
		}
	}
	& + label {
		& span {
			color: transparent;
			&:after {
				content: '';
				display: block;
				width: 4px;
				height: 10px;
				margin: 2px auto 0;
				transform: rotate(45deg) translate3d(0, 0, 0);
				border-right: 2px solid currentcolor;
				border-bottom: 2px solid currentcolor;
			}
		}
	}
}

input[type='radio'] {
	&:checked {
		& + label {
			& span {
				border-color: var(--main-color);
				background: transparent;
				&:after {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}
	& + label {
		& span {
			border-radius: 50%;
			border: 3px solid var(--mid-grey);
			position: relative;
			&:after {
				content: '';
				display: block;
				background: var(--main-color);
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 8px;
				height: 8px;
				margin: -4px;
				opacity: 0;
				transform: scale(.8);
				transition: transform var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
			}
		}
	}
}

.input-wrap {
	position: relative;
	&.large {
		& .icon {
			height: var(--btn-large-height);
		}
	}
	&.small {
		& .icon {
			height: var(--btn-small-height);
		}
	}
	& .icon {
		padding: var(--input-padding);
		padding-top: 0;
		padding-bottom: 0;
		height: var(--btn-height);
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		&.light-text-color {
			color: var(--light-text-color);
		}
	}
}