.rich-text *:first-child {
  margin-top: 0;
}

.rich-text h1, 
.rich-text h2,
.rich-text h3,
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  margin-top: 3rem;
}

.rich-text p,
.rich-text ul,
.rich-text ol,
.rich-text blockquote,
.rich-text pre {
  margin-top: var(--base-line-height);
}

.rich-text blockquote {
  font-size: 1.75rem;
  line-height: var(--short-line-height);
  position: relative;
  padding-left: .75em;
  margin-left: -.75em;
  margin-bottom: calc(var(--base-line-height) * 1.25);
  & p {
    font-size: 1.75rem;
    line-height: var(--short-line-height);
  }
  &:before {
    content: '“';
    position: absolute;
    left: 0;
  }
  &:after {
    // content: '”';
  }
}

.rich-text ul {
  list-style: disc;
  margin-bottom: 1rem;
  padding-left: 3rem;
}

.rich-text ol {
  list-style: decimal;
  margin-bottom: 1rem;
  padding-left: 3rem;
}

.rich-text li,
.rich-text dd {
  // margin-bottom: 1rem;
}

.rich-text dl {
  list-style: disc;
}

.rich-text dt {
  font-weight: 600;
}

.rich-text dd {
  color: var(--light-text-color);
}

.rich-text pre {
  background: #eee;
  border-radius: 3px;
  overflow-x: auto;
  padding: .5rem .85rem .85rem;
}

.rich-text code {
  background: #eee;
  padding: .075em .4em .25em;
  border-radius: 3px;
}

::selection {
  background: var(--main-color);
  color: var(--bg-color);
}
::-moz-selection {
  background: var(--main-color);
  color: var(--bg-color);
}