@import url('reset.css');
@import url('grid.css');
@import url('typography.css');
@import url('icons.css');
@import url('buttons.css');
@import url('inputs.css');
@import url('loader.css');
@import url('tooltips.css');
@import url('gw-ui.css');
@import url('variables.css');
@import url('lists-tables.css');
@import url('tabs.css');
@import url('animation.css');

* {
	box-sizing: border-box;
}

a {
	transition: color var(--md-speed) var(--ease), border var(--md-speed) var(--ease), opacity var(--md-speed) var(--ease);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  text-decoration: none;
  color: var(--text-color);
}

.container {
	width: var(--siteWidth);
	max-width: var(--maxSiteWidth);
	margin-left: auto;
	margin-right: auto;
}