/* Styles support up to 6 tabs */

.ui-tabs {
	display: flex;
	background: #fff;
	position: relative;
	height: var(--btn-height);
	& .tab {
		width: 100%;
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		color: #999;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .1em;
		cursor: pointer;
		border-bottom: 1px solid var(--line-color);
		transition: color var(--md-speed) var(--ease);
		& input[type='radio'] {
			display: inline-block !important;
			& + label {
				display: block;
				height: 100%;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
		&:hover {
			color: #333;
		}
	}

	& input[type='radio'] {
		& ~ .underline {
			display: block;
			height: 2px;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background: var(--main-color);
			transition: transform var(--md-speed) var(--ease);
		}
		& ~ label:nth-of-type(1) {
			color: var(--light-text-color);
		}
		&:nth-of-type(1) {
			&:checked {
				& ~ .underline {
					transform: translate3d(0, 0, 0);
				}
				& ~ label:nth-of-type(1) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 1);
			}
		}
		&:nth-of-type(2) {
			&:checked {
				& ~ .underline {
					transform: translate3d(100%, 0, 0);
				}
				& ~ label:nth-of-type(2) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 2);
			}
		}
		&:nth-of-type(3) {
			&:checked {
				& ~ .underline {
					transform: translate3d(200%, 0, 0);
				}
				& ~ label:nth-of-type(3) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 3);
			}
		}
		&:nth-of-type(4) {
			&:checked {
				& ~ .underline {
					transform: translate3d(300%, 0, 0);
				}
				& ~ label:nth-of-type(4) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 4);
			}
		}
		&:nth-of-type(5) {
			&:checked {
				& ~ .underline {
					transform: translate3d(400%, 0, 0);
				}
				& ~ label:nth-of-type(5) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 5);
			}
		}
		&:nth-of-type(6) {
			&:checked {
				& ~ .underline {
					transform: translate3d(500%, 0, 0);
				}
				& ~ label:nth-of-type(6) {
					color: var(--text-color);
				}
			}
			& ~ .underline {
				width: calc(100% / 6);
			}
		}

	}

}

.button-tabs {
	&.large {
		& .ui-tabs {
			height: var(--btn-large-height);
		}	
	}
	&.small {
		& .ui-tabs {
			height: var(--btn-small-height);
			& .tab {
				font-size: 10px;
			}
		}	
	}
	& .ui-tabs {
		color: var(--light-grey);
		background: currentcolor;
		border-radius: var(--btn-radius);
		& .tab {
			position: relative;
			z-index: 2;
			padding: 0;
			border: none;
		}
		& input[type='radio'] {
			& ~ .underline {
				z-index: 1;
				top: 0;
				height: 100%;
				border: 3px solid currentcolor;
				border-radius: calc(var(--btn-radius) + 1px);
				background: var(--bg-color);
			}
		}
	}
}