*[tooltip-text]:hover:after,
*[tooltip-text]:hover:before {
	opacity: 1;
	visibility: visible;
}

*[tooltip-text]:after,
*[tooltip-text]:before {
	z-index: 9999;
}

*[tooltip-text]:after {
	content: attr(tooltip-text);
	display: block;
	white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
	position: absolute;
	left: calc(100% + var(--nipple-size) + var(--tooltip-offset));
	top: 50%;
	min-height: 30px;
	min-width: 30px;
	margin-top: -15px;
	background: var(--text-color);
	color: var(--bg-color);
	z-index: 1;
	font-size: .75rem;
	line-height: 1.4em;
	text-transform: none;
	font-weight: normal;
	padding: 7px 10px 7px;
  border-radius: 3px;
  box-sizing: border-box;
  opacity: 0;
  max-width: 250px;
  visibility: hidden;
  transition: opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease), transform var(--md-speed) var(--ease);
}

*[tooltip-text][tooltip-paragraph="true"]:after {
	white-space: normal;
	width: 250px;
	text-align: left;
}

*[tooltip-text]:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	margin-top: calc(var(--nipple-size) * -1);
	left: calc(100% + var(--tooltip-offset));
	border: var(--nipple-size) solid transparent;
	border-right-color: var(--text-color);
	border-left: none;
	opacity: 0;
  visibility: hidden;
	transition: opacity var(--md-speed) var(--ease), visibility var(--md-speed) var(--ease), transform var(--md-speed) var(--ease);
}

/* Position Tooltip Left */
*[tooltip-text][tooltip-position="left"]:after {
	left: auto;
	right: calc(100% + calc(var(--nipple-size) + var(--tooltip-offset)));
}

*[tooltip-text][tooltip-position="left"]:before {
	left: auto;
	right: calc(100% + var(--tooltip-offset));
	border: var(--nipple-size) solid transparent;
	border-left-color: var(--text-color);
	border-right: none;
}

/* Position Tooltip Top */
*[tooltip-text][tooltip-position="top"]:after {
	left: 50%;
	top: auto;
	bottom: calc(100% + calc(var(--nipple-size) + var(--tooltip-offset)));
	margin-top: 0;
	transform: translate3d(-50%, 0, 0);
}

*[tooltip-text][tooltip-position="top"]:before {
	left: 50%;
	bottom: calc(100% + var(--tooltip-offset));
	top: auto;
	margin-top: 0;
	margin-left: calc(var(--nipple-size) * -1);
	border: var(--nipple-size) solid transparent;
	border-top-color: var(--text-color);
	border-bottom: none;
}

/* Position Tooltip Bottom */
*[tooltip-text][tooltip-position="bottom"]:after {
	left: 50%;
	bottom: auto;
	top: calc(100% + calc(var(--nipple-size) + var(--tooltip-offset)));
	margin-top: 0;
	transform: translate3d(-50%, 0, 0);
}

*[tooltip-text][tooltip-position="bottom"]:before {
	left: 50%;
	top: calc(100% + var(--tooltip-offset));
	bottom: auto;
	margin-top: 0;
	margin-left: calc(var(--nipple-size) * -1);
	border: var(--nipple-size) solid transparent;
	border-bottom-color: var(--text-color);
	border-top: none;
}