@import 'fonts';
@import 'rich-text';

body, html, input, textarea {
	font-family: $main-font;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $text-color;
	letter-spacing: $base-letter-spacing;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

h1,
.h1 {
	font-size: 2.25rem;
	font-weight: $light;
	line-height: 1.2em;
	letter-spacing: 0;
	@include respond($md) {
		line-height: 1.1em;
		font-size: 3.375rem;
		font-weight: $thin;
	}
}

h2,
.h2 {
	font-size: 1.75rem;
	font-weight: $light;
	line-height: $short-line-height;
	letter-spacing: 0;
	@include respond($lg) {
		font-size: 1.875rem;
	}
}

h3,
.h3 {
	font-size: 1.625rem;
	font-weight: $light;
	line-height: $short-line-height;
	letter-spacing: 0;
}

h4,
.h4 {
	font-size: 1.25rem;
	font-weight: $normal;
	line-height: $short-line-height;
	letter-spacing: 0;
}

h5,
.h5 {
	font-size: 1rem;
	font-weight: $normal;
	line-height: $short-line-height;
	letter-spacing: 0;
}

h6,
.h6 {
	@include small-caps;
}

p,
.p {
	font-size: 1rem;
	margin-top: 1em;
	margin-bottom: 1em;
	line-height: $base-line-height;
	letter-spacing: $base-letter-spacing;
	font-weight: $normal;
	.sm &,
	.small &,
	&.sm,
	&.small,
	&.caption {
		font-size: .875rem;
	}
	&.caption {
		max-width: 30em;
		color: $light-text-color;
	}
	.lg &,
	.large &,
	&.lg,
	&.large {
		font-size: 1.75rem;
		font-weight: $light;
		line-height: $short-line-height;
		letter-spacing: 0;
		margin-top: 1rem;
		margin-bottom: 1rem;
		@include respond($lg) {
			font-size: 1.875rem;
		}
	}
	.md &,
	.medium &,
	&.md,
	&.medium {
		font-size: 1.5rem;
		font-weight: $light;
		line-height: $short-line-height;
		letter-spacing: $base-letter-spacing * .75;
	}
	.light &,
	&.light-text-color {
		color: $light-text-color;
		a {
			color: inherit;
			&:hover {
				color: $main-color;
			}
		}
	}
}

strong,
.bold,
b {
	font-weight: $bold;
}

.small-caps {
	@include all-caps();
}

.light-text-color {
	color: $light-text-color;
}

.text-color {
	color: $text-color;
}

.bg-color {
	color: $bg-color;
}

.main-color {
	color: $text-color;
}

.success-color {
	color: $success;
}

.alert-color {
	color: $alert;
}

.notify-color {
	color: $notify;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

hr {
	border: none;
	border-top: $hr-styles;
	margin: $base-line-height 0;
	&.text-color {
		border-color: $text-color;
	}
}

::selection {
  background: $main-color;
  color: $bg-color;
}
::-moz-selection {
  background: $main-color;
  color: $bg-color;
}

.underlined-link {
	@include small-caps();
	border-bottom: 1px solid currentcolor;
	color: currentcolor;
	display: inline-block;
	cursor: pointer;
	transition: opacity $md-speed $ease, color $md-speed $ease, border $md-speed $ease, background $md-speed $ease, transform $md-speed $ease;
}