@import url('fonts.css');
@import url('rich-text.css');

body, html, input, textarea {
	font-family: var(--main-font);
	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
	color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
	line-height: var(--short-line-height);
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
}

h2 {
	font-size: 2rem;
	font-weight: 600;
}

h3 {
	font-size: 1.5rem;
	font-weight: 600;
}

h4 {
	font-size: 1.25rem;
	font-weight: 600;
}

h5 {
	font-size: 1.125rem;
	font-weight: 600;
}

h6 {
	font-size: 1rem;
	font-weight: 600;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
p + p {
	margin-top: var(--base-line-height);
}

p {
	font-size: 1rem;
	line-height: var(--base-line-height);
}

p a {
	text-decoration: none;
	border-bottom: 2px solid var(--main-color);
	padding-bottom: .05em;
	color: var(--text-color);
}

p a:hover {
	border-color: var(--main-color);
	color: var(--main-color);
}

code,
pre {
	font-family: var(--code-font);
}