// Grid Settings
$margin: 6.25rem;
$mobile-margin: 7.5%;
$max-site-width: 1500px;
$site-width : 85%;
	$columns: 12;
	$gutter: 3%;
	$width-gutter: 3%;
	$tight-gutter: .5rem;
	// $grid-gutter: $gutter;

// General UI Varibales
$base-border-radius : 0px;

// Colors
$bg-color : #f8f7f3;
$main-color: #373232;
$black : #000;
$white : #fff;
$alert : #DF693D;
$notify : #FFD780;
$success : #50B87F;
$text-color : #373232;
$light-grey : lighten($text-color, 75%);
$light-text-color : rgba($text-color, .4);
$hr-color : lighten($text-color, 70%);
$hr-styles : 1px solid $hr-color;

// Links
$link-color : $light-text-color;
$link-hover-color : $main-color;

// Typography
$main-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$secondary-font: $main-font;
$base-line-height : 1.5em;
$base-letter-spacing : .025em;
$short-line-height : 1.3em;
$tracked-out : .2em;
	// General Text Sizes
	$base-font-size : 16px;
	$sm-font-size : 12px;
	$md-font-size : .875rem;
	// Font Weights
	$normal : normal;
	$thin : 100;
	$light : 300;
	$medium : 700;
	$bold : $medium;

// Text Highlights
$highlight-bg : $light-text-color;
$highlight-color : $bg-color;

// Text Inputs
$input-font: $main-font;
$input-bg : $white;
$input-color : $text-color;
$input-border : none;
$input-border-radius : $base-border-radius;
$input-hover-bg : $input-bg;
$input-hover-color : $text-color;
$input-hover-border : none;
$input-focus-bg : $input-bg;
$input-focus-color : $text-color;
$input-focus-border : none;
$placeholder-color : rgba($text-color, .4);
$placeholder-focus-color : transparent;
$input-padding: .35em 14px 0px;
$input-line-height: 30px; // $btn-medium-height
$input-large-height: 60px;
$input-large-font-size: 1.25rem;
$input-small-height: 30px;
$input-small-font-size: .875rem;
$input-tiny-height: 24px;
$input-tiny-font-size: $input-small-font-size;

// Select Fields
$select-border : $input-border;
$select-bg : transparent;
$select-color : $light-text-color;

// Button Variables
$btn-radius: $base-border-radius;
$btn-padding: 0 1rem 1px;
$btn-text-transform: none;
$btn-letter-spacing: .02em;
$btn-weight: $medium;

// Button Sizes
$btn-height: 40px;
	$btn-small-height: 30px;
		$btn-tiny-height: 24px;
			$btn-large-height: 60px;
$btn-font-size: 12px;
	$btn-small-font-size: calc(#{$btn-font-size} - 1px);
		$btn-tiny-font-size: $btn-small-font-size;
			$btn-large-font-size: $btn-font-size;

	// Default
	$btn-font: $main-font;
	$btn-bg: $main-color;
	$btn-border: none;
	$btn-color: $bg-color;
		$btn-hover-bg: darken($main-color, 7%);
		$btn-hover-border: none;
		$btn-hover-color: $bg-color;
	
	// Secondary
	$btn-secondary-bg: lighten($text-color, 10%);
	$btn-secondary-border: none;
	$btn-secondary-color: $bg-color;
		$btn-secondary-hover-bg: $text-color;
		$btn-secondary-hover-border: none;
		$btn-secondary-hover-color: $bg-color;

	// Tertiary
	$btn-tertiary-bg: lighten($text-color, 60%);
	$btn-tertiary-border: none;
	$btn-tertiary-color: lighten($text-color, 10%);
		$btn-tertiary-hover-bg: lighten($text-color, 65%);
		$btn-tertiary-hover-border: none;
		$btn-tertiary-hover-color: $text-color;

	// Alert
	$btn-alert-color: $bg-color;
	// Notify
	$btn-notify-color: $text-color;
	// success
	$btn-success-color: $bg-color;

// Tables
$vertical-cell-padding: .75rem;
$horizontal-cell-padding: .75rem;

// Tooltips
$nipple-size: 4px;
$tooltip-offset: 6px;
$tooltip-text-transform: none;
$tooltip-letter-spacing: .02em;
$tooltip-font-size: .75rem;
$tooltip-font-weight: $normal;
$tooltip-padding: 5px 8px;
$tooltip-height: 26px;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

// Transitions
$fast-speed : .1s;
$slow-speed : .5s;
$md-speed : .2s;
$ease : ease-in-out;
