@import '../setup/variables';
@import '../setup/typography';

.app-wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  @include respond($md) {
    flex-direction: row;
  }
  .main-transition-wrap {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
  }
  .main-content-area {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    width: 100%;
    .page-content {
      position: relative;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      display: flex;
      flex-direction: column;
      width: 100%;
      > .container {
        flex-grow: 1;
      }
      &.padded-top {
        padding-top: $mobile-margin;
        @include respond($md) {
          padding-top: $margin;
        }
      }
    }
  }
}

.overlay {
  background: $text-color;
  opacity: .07;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
}

.container {
  position: relative;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  width: $site-width;
  max-width: $max-site-width;
}

.gw-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background: rgba($text-color, 0.1);
  // transition: opacity $slow-speed $ease, background $slow-speed $ease, visibility $slow-speed $ease;
}

.table-center-container{
   display: table;
   width: 100%;
   height:100%;
}
.table-center-content{
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.notification-list, .notification-bar {
  z-index : 100;
}


.file-uploader {
  img {
    max-width:100%;
  }
}

.content-area-notification {
  width: 90%;
  max-width: 30rem;
  text-align: center;
  .button,
  button {
    + .button,
    + button {
      margin-left: 1rem;
    }
  }
}

// Transition between sections
.main-content-enter,
.main-content-appear {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content-enter.main-content-enter-active,
.main-content-appear.main-content-appear-active {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.main-content-leave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-content-leave.main-content-leave-active {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}
