@import '../setup/variables';
@import '../setup/mixins';

.app-wrapper .main-content-area .page-content {
	&.centered-form {
		overflow: auto;
		display: flex;
		flex-direction: column;
		.flex-center-container {
			position: relative;
			flex-grow: 1;
			flex-shrink: 0;
			padding: $margin 0;
			.container {
				max-width: 300px;
			}
		}
		.input-wrap {
			margin-bottom: 1.5em;
		}
		.container {
			text-align: center;
			.logo {
				display: inline-block;
				color: $main-color;
				margin-bottom: 1.5rem;
				svg {
					vertical-align: top;
				}
			}
			.button {
				margin-bottom: 1.5rem;
			}
			input {
				text-align: left;
			}
		}
		.bottom-text {
			width: 100%;
			flex-grow: 0;
			padding: 0 $margin $margin $margin;
			text-align: center;
			overflow: hidden;
			flex-grow: 0;
			flex-shrink: 0;
			.container {
				animation-duration: 1.25s;
				transform: translate3d(0, 100%, 0);
				@include respond($sm) {
					display: flex;
					align-items: baseline;
					justify-content: center;
				}
				.button,
				button {
					margin: 0;
				}
				p {
					@include respond($sm) {
						margin: 0;
					}
					+ .button,
					+ button {
						@include respond($sm) {
							margin-left: 1rem;
						}	
					}
				}
			}
		}
	}
}