$spinner-size : 16px;
$spinner-weight : 2px;

* {
	box-sizing: border-box;
}

// Demo Stuff
.spinner {
	width: $spinner-size;
	height: $spinner-size;
	margin: -$spinner-size/2;
	position: absolute;
	top: 50%;
	left: 50%;
	animation: rotate 1s linear infinite;
	&.lg {
		width: 60px;
		height: 60px;
		.spinner {
			width: 60px;
			height: 60px;
		}
	}
}

.spinner {
	display: block;
	border: $spinner-weight solid rgba($light-text-color, 1);
	border-top-color: rgba($light-text-color, .15);
	border-left-color: rgba($light-text-color, .05);
	border-bottom-color: transparent;
	border-radius: 50%;
	&:before,
	&:after {
		content: '';
		display: block;
		border: $spinner-weight solid rgba($light-text-color, 1);
		border-top-color: rgba($light-text-color, .2);
		border-left-color: rgba($light-text-color, .05);
		border-bottom-color: transparent;
		border-radius: 50%;
		position: absolute;
		top: -$spinner-weight;
		left: -$spinner-weight;
		right: -$spinner-weight;
		bottom: -$spinner-weight;
		transform: rotate(-30deg);
		opacity: .3;
	}
	&:after {
		transform: rotate(-60deg);
	}
	.spinner {
		border-right-color: rgba($light-text-color, .5);
		transform: rotate(-15deg);
		animation: none;
		opacity: 1;
		margin: 0;
		position: absolute;
		top: -$spinner-weight;
		left: -$spinner-weight;
		right: -$spinner-weight;
		bottom: -$spinner-weight;
	}
}

@keyframes rotate {
	from { transform: rotate(0deg);   }
	to   { transform: rotate(360deg); }
}

button,
.button {
	.spinner {
		border: $spinner-weight solid rgba($btn-color, 1);
		border-top-color: rgba($btn-color, .2);
		border-left-color: rgba($btn-color, .05);
		&:before,
		&:after {
			border: $spinner-weight solid rgba($btn-color, 1);
			border-top-color: rgba($btn-color, .2);
			border-left-color: rgba($btn-color, .05);
		}
	}
	&.secondary {
		.spinner {
			border: $spinner-weight solid rgba($btn-secondary-color, 1);
			border-top-color: rgba($btn-secondary-color, .2);
			border-left-color: rgba($btn-secondary-color, .05);
			&:before,
			&:after {
				border: $spinner-weight solid rgba($btn-secondary-color, 1);
				border-top-color: rgba($btn-secondary-color, .2);
				border-left-color: rgba($btn-secondary-color, .05);
			}
		}
	}
	&.tertiary {
		.spinner {
			border: $spinner-weight solid rgba($btn-tertiary-color, 1);
			border-top-color: rgba($btn-tertiary-color, .2);
			border-left-color: rgba($btn-tertiary-color, .05);
			&:before,
			&:after {
				border: $spinner-weight solid rgba($btn-tertiary-color, 1);
				border-top-color: rgba($btn-tertiary-color, .2);
				border-left-color: rgba($btn-tertiary-color, .05);
			}
		}
	}
	&.alert-btn {
		.spinner {
			border: $spinner-weight solid rgba($btn-alert-color, 1);
			border-top-color: rgba($btn-alert-color, .2);
			border-left-color: rgba($btn-alert-color, .05);
			&:before,
			&:after {
				border: $spinner-weight solid rgba($btn-alert-color, 1);
				border-top-color: rgba($btn-alert-color, .2);
				border-left-color: rgba($btn-alert-color, .05);
			}
		}
	}
	&.notify-btn {
		.spinner {
			border: $spinner-weight solid rgba($btn-notify-color, 1);
			border-top-color: rgba($btn-notify-color, .2);
			border-left-color: rgba($btn-notify-color, .05);
			&:before,
			&:after {
				border: $spinner-weight solid rgba($btn-notify-color, 1);
				border-top-color: rgba($btn-notify-color, .2);
				border-left-color: rgba($btn-notify-color, .05);
			}
		}
	}
	&.success-btn {
		.spinner {
			border: $spinner-weight solid rgba($btn-success-color, 1);
			border-top-color: rgba($btn-success-color, .2);
			border-left-color: rgba($btn-success-color, .05);
			&:before,
			&:after {
				border: $spinner-weight solid rgba($btn-success-color, 1);
				border-top-color: rgba($btn-success-color, .2);
				border-left-color: rgba($btn-success-color, .05);
			}
		}
	}
}
