@import '../setup/variables';

#ui-kit {

	overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

	.code {
		font-family: 'Roboto Mono', monospace;
		font-size: 12px;
	}

	.ui-tabs {
		margin-bottom: $gutter;
	}

	section {
		margin-bottom: $margin;
		position: relative;
		z-index: 1;
	}

}