@import '../setup/variables';

.card {
	background: $light-grey;
	border-radius: $input-border-radius;
	position: relative;
	transition: background $md-speed $ease, opactiy $md-speed $ease;
	&.padded {
		padding: 1.25rem;
	}
	&.clickable {
		cursor: pointer;
		&:hover {
			background: darken($light-grey, 3%);
		}
	}
	.button,
	input[type="submit"],
	button {
		&.secondary {
			background: $bg-color;
		}
	}
}